################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Code/.vs/FABDOOM
/Code/Debug
/Code/Release
/Binaries/log.txt
